@import url(https://db.onlinewebfonts.com/c/56781ad6b0c3a536eab3138fc57fc246?family=DistilleryScript);
@import url(https://db.onlinewebfonts.com/c/0373adad7b4c1a926865084f2f8fab7f?family=Circe);

@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  /*@keyframes marquee {*/
  /*  0% { transform: translateX(0); }*/
  /*  100% { transform: translateX(-50%); }*/
  /*}*/

  .marquee {
    animation: marquee 8s linear infinite;
    display: flex;
    white-space: nowrap;
    will-change: transform;
  }
}

@theme {
  --font-sans: Circe, sans-serif;
  --font-script: DistilleryScript;
}

body {
  @apply bg-gray-300 text-gray-900;
}
